body {
  background-color: #f1f1f1;
  color: rgb(91, 91, 91);

  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
.avatar {
  width: 200px;
  border-radius: 30px;
  box-shadow: 4px 4px 14px rgba(14, 14, 14, 0.414);
}
a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: gray;
}

a {
  color: black;
  text-decoration: none;
}

.bg-yellow {
  background-color: #fff9dc;
}

.bg-green {
  background-color: #e5ffe7;
}

.bg-red {
  background-color: #ffe5e5;
}

.card {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.card {
  margin-top: 20px;
}

.info {
  display: flex;
  margin-bottom: 20px;
}

.info-text {
  margin-left: 40px;
}

.info-text h4 {
  margin-bottom: 10px;
}
.info p {
  color: #868686;
  margin: 0;
  font-style: italic;
  /* text-transform: capitalize; */
  /* letter-spacing: 5px; */
  /* word-spacing: 42px; */
}
.conteiner {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

/* .boxmodal {
  background: green;
  padding: 15px 20px 25px 30px;
  border: 5px solid red;
  border-bottom-style: dotted;
  border-top-width: 15px;
  border-right-color: blue;
  margin: 5px;
} */

/* .modal > div {
  float: left;
  background: black;
  height: 200px;
  width: 25%;
  border: 4px solid red;
  box-sizing: border-box;
} */

.card h2 {
  margin-bottom: 20px;
}

.list {
  padding: 0 20px;
}

.list li {
  color: 86898f;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}
.table td {
  padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #86898f;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.contact h3 {
  text-align: center;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: black;
  padding: 15px 0px 10px;
  outline: none;
  font-family: inherit;
}
.row {
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {
  width: 50%;
  margin-right: 20px;
}

.row > .form-group:last-child {
  margin-right: 0;
}

.btn {
  background-color: black;
  padding: 15px 20px;
  color: white;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

@media (max-width: 700px) {
  .info {
    text-align: center;
    display: block;
  }
}
